{% extends 'base.html.twig' %}

{% block title %}{Contact}
{% endblock %}

{% block body %}
<div class="container">
	<h1>{Contact}</h1>
	<a href="{{ path ('formulaire_contact') }}">Contact</a>
	<br>
	<a href="{{ path ('devis') }}">Devis</a>
	<br>
	{# <a href="{{ path ('formulaire_devis') }}">Devis</a> #}
</div>
{% endblock %}
