<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <title>Vue|Fondamentals</title>
</head>

<body>
    <div id="shopping-list">
        <div class="header">
            <h1>{{ header.toLocaleUpperCase() }}</h1>
            <button v-if="state === 'default'" class="btn btn-primary" @click="changeState('edit')">ajout
                d'item</button>
            <button v-else class="btn btn-cancel" @click="changeState('default')">annuler</button>
        </div>
        <div v-if="state === 'edit'" class="add-item-form">
            <!-- v-on: peut être remplacer par le raccourci @ -->
            <!-- @keyup.enter="" === v-on:keyup='' event qui prend en compte qd l'user press 'Entrer'// -->
            <input type="text" @keyup.enter='saveItem' v-model='newItem' placeholder="ajout d'un item">
            <!-- v-bind: peut être raccourci en : ':' v-bind:disabled === :disabled -->
            <!--
                :disabled="!newItem" === v-bind:disabled="newItem.length === 0" car newItem est une chaîne vide donc
                le ! (contraire) signifie que disabled ne sera plus actif qd newItem ne sera plus une chaîne vide
            -->
            <button class="btn btn-primary" :disabled="!newItem" v-on:click='saveItem'>Save
                item</button>
        </div>
        <ul>
            <!-- 
                :class="{strikeout: item.purchased}" === :class="[item.purchased ? 'strikeout' : '']"
                On peut utilisé la syntaxe d'Objet (1re) ou la syntaxe Array (2nd),
                l'Array syntax offre plus de controle dans l'template
                Object syntax sera plus utilisé dans de simple conditions, afin d'garder le template plus propre
             -->
            <li v-for='item in reversedItems' :class="{strikeout: item.purchased}" @click="togglePurchased(item)">
                {{ item.label }}
            </li>
        </ul>
        <p v-if="items.length === 0">Vous avez tout acheter, merci !</p>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script>
        var shoopingList = new Vue({
            el: '#shopping-list',
            data: {
                state: 'default',
                header: 'shooping list app',
                newItem: '',
                items: [
                    {
                        label: '10 chapeaux',
                        purchased: false,
                        highPriority: false,
                    },
                    {
                        label: '20 cups americaine',
                        purchased: true,
                        highPriority: false,
                    },
                    {
                        label: '5 bouteilles',
                        purchased: false,
                        highPriority: true,
                    }
                ]
            },

            // computed ou methods ?
            // On utilise les methods quand il faut changer data
            // On utilise les computed qd il faut changer la présentation des data EXISTANTES
            computed: {
                reversedItems() {
                    return this.items.slice(0).reverse();
                }
            },
            methods: {
                saveItem: function () {
                    // Se if sert à empecher le @keyup.enter de fonctionner qd newItem est vide
                    // sans pour autant grisé l'input comme le :disabled sur le button
                    if (this.newItem.length > 0) {
                        this.items.push({
                            label: this.newItem,
                            purchased: false
                        });
                        this.newItem = '';
                    }
                },
                changeState: function (newState) {
                    this.state = newState;
                    this.newItem = '';
                },
                togglePurchased: function (item) {
                    item.purchased = !item.purchased;
                }
            }
        });
    </script>
</body>

</html>